* {
    box-sizing: border-box;
    position: relative;
    }

html, body {
    overflow-x: hidden;
    height: 100%;
  }

body {
    background-color: #1d1917;
}

/* Utility class */
.clearfix:: after {
    content: "";
    display: block;
    clear: both;
}


.flexContainer {
    display: flex;
    flex-direction: column;
    height:100%;
}

div {
    /* border: 1px solid red; */
}

.titleDiv {
    padding: 5%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    text-align:center;
}

.titleText {
    font-family: 'Game of Thrones',Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: normal;
    color:gold;
    font-size:3em;
    line-height: 1.2;
    word-spacing: .3em;
    position: relative;
    text-shadow: 2px 2px red;

}

p {
    color:white;
    margin: 10px;
}

span {
    color:white;
}

#wordInput {
    font-size: 2em;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 10px;
    letter-spacing: 1em;
}

.contentContainer {
    font-family: Georgia, 'Times New Roman', Times, 'Game of Thrones', serif;
    font-size: 1.5em;
    margin-top:50px;    
    width:70%;
    margin-left:auto;
    margin-right:auto;
    height: 400px;
    flex: 1 0 auto;
    margin-bottom: 25px;
}

.contentLeft, .contentRight {
    width:50%;
    height: 100%;
    float:left;
    /* display: inline; */
    border:silver groove 3px;
}

.belowWord {
    margin-top: 40px;
}


.leftpic {
    width:90%;
    margin:5%;
    height: auto;
}


footer {
    color: #ffffff; 
    display:inline-block;
    white-space:nowrap;
    height: 3em;
    display: flex;
    align-items: center;
    padding-top: .5em;
    width: 100%;
    flex-shrink: 0;
}

.copy {
    font-size: small;
    bottom:0;
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-width: 640px) {
    .titleText {
        font-size:1.5em;
    }

    .contentContainer {
        width:320px;
    }
}